name: primer-workflow
on: [push, pull_request, workflow_dispatch]

jobs:
  configuracion:
    runs-on: ubuntu-latest
    steps:
      - name: Primer Paso
        run: echo "Configurando el entorno de desarrollo..."

      - name: Touch file
        run: touch config.txt
      
      - name: Set file
        run: echo "Creando archivo de configuración..." > config.txt         

      - name: Verificar file
        run: echo "Verificando archivo de configuración..." cat config.txt

  desarrollo:
    runs-on: ubuntu-latest
    steps:
      - name: Segundo Paso
        run: ls -al
